.center{
    margin : 0 auto;
    width: 960px;
    background: light-gray;
}

.sized{
  width: 900px !important;
}

.tabs {
  display: flex;
  padding: 10px 10px 0 10px;
  width :900px;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #b8cad0;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #b1c1bf;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {

}
.tab:last-child {

}
.tab.active {
  background: white;
  color: black;
}

.tab.active i{
    color: #e4d1cc;
}
.video{
  width: 450px;
  margin: 0 auto;
  text-align: center;
}