 <div class="container center">
        <div class="col-xs-8 col-md-10 uk-animation-toggle sized">
            
            <div class="row">
                <div class="tabs center">
                    <a class="tab active" id="dtc">
                       <p>#DTC</p>
                    </a>
                      
                    <a class="tab" id="friends">
                       <p>Patate chaude</p>
                    </a>
  
                    <a class="tab" id="wedding">
                        <p>Bienveillance ta gueule</p>
                    </a>
                    <a class="tab" id="war">
                      <p>War</p>
                    </a>
              </div>
              

  

  
              
              
            <div class="col-xs-8 col-md-10 text-center pad">
                      <div class="videos" id="mapdtc"> <div><h3>Le trou du cul du monde est là, en vrai de vrai !</h3></div>
                         <%= cl_video_tag("dtc_pmsj2f", :controls=> true, :transformation=>[ { :width=>600, :crop=>"scale", :effect=>"fade:2000",
                  :effect=>"fade:-4000" } ])
                         %>
                      </div>
          
                      <div class="videos" id="friends-video">
                         <%= cl_video_tag("dindes_vtvq7i",  :controls=> true, :transformation=>[
                    {:width=>600, :crop=>"scale", :effect=>"fade:2000", :effect=>"fade:-4000" } ]) %>
                      </div>
          
                      <div class="videos" id="wedding-video">
                         <%= cl_video_tag("le_monde_est_beau_i7wqxx",  :controls=> true, :transformation=>[
                    {:width=>600, :crop=>"scale", :effect=>"fade:2000", :effect=>"fade:-4000"}
                    ]) %>
                      </div>
          
                      <div class="videos" id="war-video">
                         <%= cl_video_tag("Churchill_gf9pai", :controls=> true, :transformation=>[
                    {:width=>600, :crop=>"scale", :effect=>"fade:2000", :effect=>"fade:-4000"}
                    ]) %>
                         
                      </div>
            </div>
            <div id="map" ></div>

            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=Figaro.env.googlekey"></script>
              
            </div>
              
              

        </div>
         
    </div>
    
   
    
    

    
     
    
    
    
    
    
    
    